@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

* {
    font-family: JetBrainsMono Nerd Font Mono, Roboto, Helvetica, Arial, sans-serif;
    font-size: 18px;
}

window#waybar {
    background-color: transparent;
}

.modules-left, .modules-right {
    background-color: @surface0;
}

.main .modules-left {
    border-radius: 0 0 5px 0;
}

.main .modules-center {
    background-color: @surface0;
    border-radius: 0 5px 5px 0;
}

.main .modules-right {
    border-radius: 0 5px 0 0;
}

.second .modules-left {
    border-radius: 0 5px 0 0;
}

.second .modules-right {
    border-radius: 5px 0 0 0;
}

#workspaces {
    background-color: @surface1;
    border-radius: 5px;
    margin: 5px;
}

#workspaces button {
    color: @text;
    box-shadow: none;
}

#workspaces button:hover {
    background: @red;
    border-color: @red;
    color: @base;
}

#workspaces button.active {
    background-color: @blue;
    color: @base;
}

#workspaces button.active:hover {
    background: @red;
    border-color: @red;
    color: @base;
}

#tray {
    margin-bottom:10px;
    margin-top:10px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#group-power {
    color: @text;
}

.text-button {
    font-size: 28px;
}

#submap.󰩨 {
    font-size:28px;
    color: @red;
}

#cpu {
    color: @green;
    margin-right: 10px;
    margin-left: 10px;
}

#memory {
    color: @blue;
    margin-right: 10px;
}

#disk {
    color: @yellow;
    margin-right: 10px;
}

#network {
    color: @red;
    margin-right: 10px;
}
